@use '../tokens' as *;

.page-home {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: $space-6;
  padding-top: $space-20;

  @include respond-to(md) {
    padding: $space-4;
    padding-top: $space-24;
  }
}

.section {
  margin-bottom: $space-14;

  @include respond-to(md) {
    margin-bottom: $space-16;
  }
}
