@use '../tokens' as *;

.page-writing {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: $space-4;
  padding-top: $space-16;

  @include respond-to(md) {
    padding-top: $space-20;
  }
}

.writing-list {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}
